/* logo da pagina */
.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo img {
  height: 60px; /* Ajuste o tamanho conforme necessário */
  width: 50px;
  border-radius: 10px;
}


/* Estilo geral da página */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffeeee; /* Rosa claro de fundo */
    color: #4b2c2c;
    margin: 0;
    padding: 0;
}

 
.logo img {
  border-radius: 50%;
}




/* Destaques */
.highlights {
  padding: 40px 20px;
  text-align: center;
}

.highlights h2 {
  font-size: 2rem;
  color: #d81b60;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 20px;
  width: 200px;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.card h3 {
  margin-top: 10px;
  color: #c2185b;
}



/* Navegação */
ul {
    list-style: none;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    gap: 15px;
    margin: 0;
    border-bottom: 3px solid #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 8px 8px;
}
ul li a {
    text-decoration: none;
    color: #4b2c2c;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

ul li a:hover {
    background-color: #ffbbc6;
}

/* Cabeçalho */
h1 {
    text-align: center;
    margin-top: 30px;
    color: #d850a6;
}

p {
    text-align: center;
    max-width: 700px;
    margin: 10px auto;
    font-size: 18px;
}




/* Seção de Destaques */
h2 {
    text-align: center;
    color: #bb416a;
    margin-top: 40px;
}

.produto {
    text-align: center;
    margin: 30px auto;
    max-width: 300px;
    background-color: #ffe4e1;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(255, 192, 203, 0.4);
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.produto h3 {
    margin-top: 10px;
    color: #830000;
}

.bolofoto{border-radius: 50px 50px 50px 50px;}